html {
    scroll-behavior: smooth;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger-menu{
    display: none;
}
.cart{
    color: #FFF;
}
header{
    background-color: #121414;
    border-bottom: 1px solid #4C4546 ;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 5;
}
.header{
    padding: 35px 80px;
    max-width: 1440px;
    margin: 0 auto;
}
body{
    background-color: #121414;
}
.nav-ul{
    gap: 36px;
}
.nav-a{
    color: #CFC4C5;
    font-size: 15px;
}
.nav-a:hover{
    border-bottom: 2px solid #333535;
}
.wrapper-par{
    color: #C6C6C6;
    font-size: 14px;
    margin-bottom: 16px;
}
.main-title{
    color: #E2E2E2;
    font-size: 48px;
    max-width: 434px;
    margin-bottom: 32px;
}
.exclusive-par{
    color: #CFC4C5;
    font-size: 18px;
    margin-bottom: 32px;
    max-width: 434px;
    line-height: 1.5;
}
.section1{
    margin-top: 30px;
    max-width: 1440px;
    margin:30px auto 120px;
    justify-content: space-between;
}
.left{
    padding:0 10px 0 80px;
}
.discover-button{
    padding: 12px 40px;
    background-color: #141414;
    color: #C6C6C6;
    border: 1px solid #C6C6C6;
    font-size: 14px;
    cursor: pointer;
}
.section2{
    max-width: 1280px;
    margin: 0 auto 120px;
}
.essence-par{
    max-width: 434px;
    line-height: 1.5;
    color: #CFC4C5;
    margin-bottom: 32px;
}
.more-button{
    padding: 12px 32px;
    color: #303030;
    background-color: #C6C6C6;
    cursor: pointer;
}
.right-wrapper{
    padding-left: 10px;
}
.section3{
    max-width: 1280px;
    margin: 0 auto;

}
.border{
    border-bottom: 1px solid #333535;
    margin-bottom: 40px;
}
.popular-title{
    font-size: 32px;
    color: #E2E2E2;
    margin-bottom: 15px;
}
.all{
    font-size: 14px;
    color: #C6C6C6;
}
.popular-fragnances{
    object-fit: cover;
    width: 288px;
    height: 400px;
}
.card{
    max-width: 290px;
    border: 1px solid #333535;
    transition: transform 0.2s;
}
.card:hover,.fragnance-card:hover {
    transform: translateY(-6px);
}
.cards{
    margin-bottom: 200px;
    flex-wrap: wrap;
    gap: 40px 24px;
}
.popfragnance-name{
    color: #E2E2E2;
    font-size: 16px;
    margin-bottom: 8px;
    padding: 0 0 2px 8px;
}
.price{
    color: #CFC4C5;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 0 0 2px 8px;
}
.popfragnance-photo{
    position: relative;
    margin-bottom: 16px;
}
.main-note{
    position: absolute;
    color: #C6C6C6;
    font-size: 12px;
    top: 15px;
    left: 10px;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    padding: 7px 12px;
}
footer{
    border-top: 1px solid #4C4546;
}
.footer{
    padding: 35px 80px;
    max-width: 1440px;
    margin: 0 auto;
}
.security{
    font-size: 14px;
    color: #CFC4C5;
}
.about-main{
    max-width: 700px;
    margin: 70px auto 130px;
    text-align: center;
}
.more-smell{
    color: #C6C6C6;
    font-size: 32px;
    margin-bottom: 32px;
}
.trust-par{
    color: #CFC4C5;
    font-size: 20px;
    line-height: 1.5;
}
.aboutdiv{
    max-width: 1280px;
    margin: 0 auto 80px;
    flex-wrap: wrap;
}
.aboutcard{
    width: 400px;
    border: 1px solid #4C4546;
    background-color: #1E2020;
    padding: 40px;
}
.gem,.star,.check{
    color: #C6C6C6;
    font-size: 20px;
    border: 1px solid #C6C6C6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius:10px ;
    margin-bottom: 32px;
}
.about-title{
    color: #E2E2E2;
    font-size: 24px;
    margin-bottom: 8px;
}
.about-par{
    font-size: 16px;
    color: #CFC4C5;
    line-height: 2;
}
.about-wrapper{
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
    height: 500px;
    border: 1px solid #4C4546;
    background-color: #1E2020;
    margin-bottom: 120px;
}
.store{
    max-width: 495px;
    height: 495px;
}
.right-div{
        position: relative;
}
.look-button{
    position: absolute;
    bottom: 8px;
    right: 8px;
}
.fregnance-maintitle{
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
.ex-title,.ex-par{
    max-width: 700px;
    text-align: center;
}
.ex-title{
    margin: 120px 0 16px 0;
}
.ex-par{
    margin-bottom:80px ;
}
.fragnance-cards {
    max-width: 1280px;
    margin: 0 auto 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}
.fragnance-card{
    max-width: 365px;
    border: 1px solid #1E2020;
    transition: transform 0.2s;
    border-radius: 10px;
    box-shadow: 0px 19px 41px -2px #000000;
}
.collection-photos{
    object-fit: cover;
    width: 362px;
    height: 400px;
    border-bottom: 1px solid #333535;
}
.fragnance-relative{
    position: relative;
}
.absolute-par{
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 14px;
    color: #E2E2E2;
    border: 1px solid #E2E2E2;
    padding: 10px;
    border-radius: 3px;
    background-color: #1A1C1C;
}
.collection-brand{
    font-size: 14px;
    color: #C6C6C6;
    margin-bottom: 6px;
}
.brand{
    font-size: 24px;
    color: #E2E2E2;
    margin-bottom: 10px;
}
.fregnance-description{
    max-width: 320px;
    font-size: 14px;
    color: #CFC4C5;
    line-height: 1.5;
    margin-bottom: 30px;
}
.fragnance-price{
    font-size: 24px;
    color: #E2E2E2;
}
.center{
    padding: 30px;
}
.cart-button{
    padding: 8px 16px;
    color: #E2E2E2;
    font-size: 14px;
    background: transparent;
    border: 1px solid #E2E2E2;
}
